/* Fix user-agent */

* {
  box-sizing: border-box;
}

html {
  font-weight: 300;
  -webkit-font-smoothing: antialiased;
}

html, input {
  font-family:
    "HelveticaNeue-Light",
    "Helvetica Neue Light",
    "Helvetica Neue",
    Helvetica,
    Arial,
    "Lucida Grande",
    sans-serif;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  color: #d65050;
}

ul, li {
  list-style: none;
  word-wrap: break-word;
}

input {
  text-align: center;
  width: 100%
}

/* Pages */

.pages {
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
}

.page {
  height: 100%;
  position: absolute;
  width: 100%;
}

/* Login Page */

.login.page {
  background-color: #000;
}

.login.page .form {
  background-color: #000;
  height: 100px;
  margin-top: -100px;
  position: absolute;
  text-align: center;
  top: 50%;
  width: 100%;
}

.login.page .form .usernameInput {
  background-color: transparent;
  border: none;
  border-bottom: 2px solid #fff;
  outline: none;
  padding-bottom: 15px;
  text-align: center;
  width: 400px;
}

.login.page .title {
  font-size: 200%;
}

.login.page .usernameInput {
  font-size: 200%;
  letter-spacing: 3px;
}

.login.page .title, .login.page .usernameInput {
  color: #fff;
  font-weight: 100;
}

/* Chat page */

.chat.page {
  display: none;
  overflow: hidden;
}

/* Font */

.messages {
  font-size: 100%;
}

.inputMessage {
  font-size: 100%;
}

.log {
  color: gray;
  /*margin: 5px;*/
  text-align: center;
  /*position: fixed;
  width: 100%;*/
}

.commandArea {
  width: 30%;
}

/* Messages */

.chatArea {
  height: calc(60vh - 60px);
  /*padding-bottom: 60px;*/
}

.messages {
  height: 100%;
  margin: 0;
  overflow-y: scroll;
  padding: 10px 20px 10px 20px;
}

.message.typing .messageBody {
  color: gray;
}

.username {
  float: left;
  font-weight: 700;
  overflow: hidden;
  padding-right: 15px;
  text-align: right;
}

/* Input */

.inputMessage {
  border: 1px solid #000;
  bottom: 0;
  height: 60px;
  left: 0;
  outline: none;
  padding-left: 10px;
  position: relative;
  right: 0;
  width: 100%;
}

.displayMap {
  position: absolute;
  top: 0;
  right: 0;
  width: 70%;
  height: calc(60vh);
  border: 1px solid #111;
  float: left;
}

.displayStatus {
  background: #dedede;
  height: calc(40vh);
  width: calc(100vw);
  border: 1px solid #000;
  overflow-x: scroll;
  overflow-y: hidden;
}

.displayStatus input {
  border: 1px solid gray;
}

.status {
  /*border-right: 2px solid gray; */
  width: calc(100vw / 6 - 2px);
  height: calc(37vh);
  overflow-y: scroll;
  padding: 10px;
  float: left;
}


.status-log{
  font-size: 1.5em;
  text-align: center;
}

.control-aircraft {
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  border: 2px solid green; 
  margin-top: 10px;
  margin-bottom: 10px;
  cursor: pointer;
}
.control-aircraft:hover{
  background-color: green;
  color: #fff;
}

.live-camera{
  border: 2px solid #111;
  position: fixed;
  left: 0px;
  top: 0px;
}